*

!app/
!kb/
!pages/
!public/
!src/
!tools/
tools/video/node_modules/
tools/video/out/

!*.mjs
!middleware_BASIC_AUTH.ts
!middleware.ts
!next.config.ts
!package*.json
!tsconfig.json

!LICENSE
!README.md
