# [Recommended for local deployments] Backend API key for OpenAI, so that users don't have to provide one
OPENAI_API_KEY=

# [Not needed] Set the backend host for the OpenAI API, to enable platforms such as Helicone
OPENAI_API_HOST=