:root {
    --AGI-Nav-width: 52px;
    --AGI-Drawer-width: 320px;
    --AGI-Desktop-Drawer-width: clamp(320px, 22.1vw, 450px);
    --AGI-Optima-Radius: 0.75rem; /* var(--joy-radius-lg) */
}

.agi-ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}